@model Bugtracking.Models.ProduitVersion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProduitVersion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersionMajeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersionMajeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersionMineur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersionMineur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroBuild)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroBuild)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebutValidité)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebutValidité)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFinValidit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFinValidit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
